* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4)),
        url("car.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

#inputs{
    width: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color:  rgba(63, 62, 62, 0.6);
    border-radius: 20px;
    margin-bottom: 0px;
    color: aliceblue;
    
}
.input {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input,select{
    flex: 1;
    border-radius: 5px;
    border: 0;
    padding: 5px;

}
#outputs{
    
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: rgba(63, 62, 62, 0.6);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: large;
}

input:hover,
select:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.navbar{
    background-color: rgb(53, 45, 45);
    width: 100%;
    padding: 15px ;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;


}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: antiquewhite;
}
.links{
    display: flex;
    gap: 30px;
}
